# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that data scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. C/C++
7. JavaScript

Some of the commonly used libraries used by Data Scientists include:
* NumPy
* Keras
* Pandas
* PyTorch
* SciPy
* TensorFlow
* Matplotlib

| Data Science Tools |
|:------------------:|
| Jupyter Notebook  |
| RStudio  |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
round(200/60,2)

3.33

In [15]:
# This will convert 200 minutes to hours by diving by 60
min = 200
print(min, 'minutes is equivalent to', round(200/60,2), 'hours')

200 minutes is equivalent to 3.33 hours

__Objective:__
* Some of the popular languages that data scientists use
* Some of the commonly used libraries used by Data Scientists
* A simple arithmetic expression

## Author
Yaoqi Lin